fastapi
uvicorn
python-multipart
pillow
requests
pydantic
transformers @ git+https://github.com/huggingface/transformers.git
peft @ git+https://github.com/huggingface/peft.git
trl @ git+https://github.com/huggingface/trl.git
accelerate>=1.5.0
datasets
scipy
bitsandbytes>=0.45.0
huggingface_hub
